version: '2.0'
services:
  web:
    build: .
    ports:
    - "8080:8080"
    links:
    - redis
    depends_on:
    - "redis"

  redis:
    image: redis

  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"